    /*color harmony: #fff562, #62fff5, #f562ff */
    /* mistyrose 	#ffe4e1
        lightcyan 	#e0ffff
        moccasin 	#ffe4b5

        Blue Popsicle: #0f2862
        Redline: #9e363a
        Purple Shadow: #091f36
        Grey Blue Leaf: #4f5f76
    */
    #a
    #b
    #c
    #d

    #tag a{
        /* scroll tag */
        scroll-snap-align: start;
    }

 

    #container {
         
        scrollbar-width:auto;
        scrollbar-color: #e0ffff #8e8e8e; 
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100vh;
        padding: 0;
        overflow-x:hidden;
        scroll-behavior: smooth;
        background-color: #8e8e90;
    }


    #threejs-container {
        position: relative;
        z-index: 10;
    }
    #overlay-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: Titillium Web;
    
        z-index: 50; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    html {
      
        height: 100%;
        margin: 0;
        overflow-y:hidden;
        overflow-x:hidden;
    }
    .snap{
        overflow-y:hidden;
        overflow-x:hidden;
    }

    #background2{
        font-size: 150px;
        position:fixed;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100vw;
        min-height: 100vh;
        /* transform: perspective(1500px) rotateY(20deg); */
        transition: font-size 1s ease-in-out;
        font-family: 'Roboto Slab', sans-serif;
        color:transparent; /* Der Text wird transparent gemacht */
        -webkit-text-stroke: 0.5px #2e2e2e; 
        animation-name: fontmove;
        animation-duration:4s;
      
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 20%, rgba(91,227,218,1) 40%, rgba(98,255,245,1) 50%, rgba(96,248,238,1) 60%, rgba(46,46,46,1) 80%, rgba(0,0,0,1) 100%);
       
        padding: 20px;
        box-sizing: border-box;
    }

        
    section {
        scroll-snap-align: start;
        scroll-padding-top: 1px;
    }
    body  
    {
    background-color: #919191;
        overflow-y: hidden; 
        overflow-x: hidden;
        height: 100%;
        margin: 0;
        overflow-x:hidden;
        

    }
    .fullscreen {
        height: 100vh; /* 100% der Bildschirmhöhe */
    }
    .parallax {
        position: fixed;
        transform: translate(-50%, -50%);
    }
        
    #speechBubble{
        color: rgb(255, 0, 0);
        background-color: #2e2e2e;
    }

    .parent {
        overflow: scroll;
        height: 100vh;
 
        scroll-snap-type: y mandatory;
    }
    section {
        height: 100vh;
        scroll-snap-align: start;
        left:0;
        position: relative;
    }
    .img-container{
        flex:2;
        margin-left:0cm;
        background-size: contain;
    }

    #txt-left{
        margin-right: 5%;
        margin-left: 5%;  
        margin-left: 10%;
        margin-block-end: 10px; 
        writing-mode: horizontal-tb;
      
    }

    #txt-right{
        margin-right: 5%;
        margin-left: 5%;  
        margin-left: 10%;
        margin-block-end: 10px; 
        writing-mode: horizontal-tb;
    }

    #containerbox{
        object-fit: cover;
        display: flex;
        align-items: center;
        margin-bottom: 15%;
        position: relative;
        transform: none;
        justify-content:center;
        height: 100%;
        min-height: 100vh;

        background-repeat: no-repeat;
        background-position: center center;

        width: 100vw;
        max-block-size: 40%;
        transition: 1s ease-in-out;
        z-index: 1;
        border-style:solid;
        border-color:white; 
    }
    /*color harmony: #fff562, #62fff5, #f562ff */
    /* mistyrose 	#ffe4e1
        lightcyan 	#e0ffff
        moccasin 	#ffe4b5
        Rose Gold: #bd8c7d
        Soft Gold: #d1bfa7
        Silver: #8e8e90
        Onyx: #49494b
    */
    .BG-color1{
        background-color: #bd8c7d;
        
    }
    .BG-color2{
        background-color: #8e8e90;
    }
    .BG-color3{
        background-color: #d1bfa7
    }

     #containerbox{
        flex-direction: row;
        margin-right: 50px;
    }


    .headliner{
        font-family: 'Roboto Slab', sans-serif;
        font-size: 1.0em;
        /* Der Text wird transparent gemacht */
        letter-spacing: -0.01rem;
    }

    .text-footer{
        font-family: 'Roboto Slab', sans-serif;
        font-size: 2rem;
        word-wrap:break-word;
        overflow: auto; 
        letter-spacing: -0.01rem;
    }

        
    canvas {
    
        display: block;
        position: absolute;
        body { margin: 0; };

    }
    .layer {
        overflow-x:hidden;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        min-height: 100%;
    }

    #layer1{

        transform: translatey(-10%); 
    
    }

    .transformer-inverse {
        
        background-color: #ffe4b5;
        transform: perspective(700px) rotateY(-30deg);
        transition: transform 0.3s ease;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .text-container-1{
        display:flex;
        flex:2;
        align-items: center;
        align-self: center;
        transition:  1s ease-in-out;
        -webkit-text-stroke: 1px #2e2e2e; /* Hier wird der Umriss erstellt */
    }
 

    .invisble{
        visibility: hidden;
    }
   

    .hidden{
        visibility: hidden;
    }
    .blur {
        filter: blur(2px);
    }
    .img-container{
        display: flex;
        justify-content: start;

    }
    .parallaxmagic{
        --f: .1; /* the parallax factor (the smaller the better) */
        --r: 10px; /* radius */
        --_f: calc(100%*var(--f)/(1 + var(--f)));
        --_a: calc(90deg*var(--f));
        width: 250px; /* the image size */
        aspect-ratio: calc(1 + var(--f));
        object-fit: cover;
        clip-path: inset(0 var(--_f) 0 0 round var(--r));
        transform: perspective(400px) var(--_t,rotatex(var(--_a)));
        transition: .5s;
        cursor: pointer;
    z-index: 5000;
        animation-name: example;
        animation-duration: 4s;
    }
    @keyframes example {
        0%   { --_f: calc(100%*var(--f)/(1 + var(--f)));}
        100%  { --_f: calc(1000%*var(--f)/(1 + var(--f)));}
    }
    .parallaxmagic:hover{
        clip-path: inset(0 0 0 var(--_f) round var(--r));
        --_t: translateX(calc(-1*var(--_f))) rotateY(calc(-1*var(--_a)))
        
    }

    .img1 {
        background-image: url('/assets/bilder/icon\ \(2\).jpg');
        background-repeat: no-repeat;
        background-position: center center;
       
        width: 50%;
        height: 50%;
        transition: 1s ease-in-out;
        z-index: 1;

        border-color:white; 

        --f: .05; /* the parallax factor (the smaller the better) */
        --r: 10px; /* radius */
        --_f: calc(1000%*var(--f)/(1 + var(--f)));
        --_a: calc(-0deg*var(--f));
        width: 250px; /* the image size */
        aspect-ratio: calc(1 + var(--f));
        object-fit: cover;
        clip-path: inset(0 var(--_f) 0 0 round var(--r));
        transform: perspective(400px) var(--_t,rotatex(var(--_a)));
        transition: .5s;
        cursor: pointer;
        
    }
    .img1:hover{
        clip-path: inset(0 0 0 var(--_f) round var(--r));
    --_t: translateX(calc(-1*var(--_f))) rotateY(calc(-1*var(--_a)))
    transform:translatey(-15%);
        filter:contrast(1.3);
    }
    .img2{
    
        background-image: url('../assets/bilder/assetPlacerTool.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 50%;
        height:50%;
        transition: 1s ease-in-out;
        z-index: 1; 
    }
    .img2:hover{
        transform:translatey(-15%);
        filter:brightness(1.2);
    }
    .img3{
    
        background-image: url('../assets/bilder/assetPlacerTool.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 50%;
        height:50%;
        transition: 1s ease-in-out;
        z-index: 1; 
    }
    .img3:hover{
        transform:translatey(-15%);
        filter:brightness(1.2);
    
    }


    .img4{
    
        background-image: url('../assets/bilder/4.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 50%;
        height:50%;
        transition: 1s ease-in-out;
        z-index: 1; 
    }
    .img4:hover{
        transform:translatey(-15%);
        filter:contrast(1.2);
    }
    .img5{
    
        background-image: url('../assets/bilder/icon\ \(3\).jpg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 50%;
        height:50%;
        transition: 1s ease-in-out;
        z-index: 1; 
    }
    .img5:hover{
        transform:translatey(-15%);
        filter:contrast(1.2);
    }

    .img7{
    
        background-image: url('../assets/bilder/icon\ \(4\).jpg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 50%;
        height:50%;
        transition: 1s ease-in-out;
        z-index: 1; 
    }
    .img7:hover{
        
        transform:translatey(-15%);
        filter:brightness(1.2);
    }

    .img8{
        background-image: url(/assets/bilder/bg2.jpg);
        content: "";
        position: absolute;
        width: 50%;
        height:50%;
    
        background-repeat: no-repeat;
    }
    .img9{
        background-image: url(/assets/bilder/contact_me.jpg);
        background-repeat: no-repeat;
        background-position: center center;
    transform: translateX(-50%);
        width: 100%;
        height:100%;
        transition: 1s ease-in-out;
        z-index: 1; 
    }



    .footer {
        text-align: center; 
        background-color: #2e2e2e;
        color: white; 
        margin: 5cm;
        min-height:100vh ;
    }
        
    .disappearing-div {
        width: 200px;
        height: 200px;
        background-color: lightblue;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: opacity 1s ease-in-out;
    }

    .disappearing-div.disappeared {
        opacity: 0;
        pointer-events: none; /* Deaktiviert Klicks, wenn das Div verschwunden ist */
    }

    .txt-right{
        font-size:5em;
        margin-right: 20%;
    }


    .txt-left{
        font-size: 2em;
        margin-top: 5em;
 
    }

    .container-contact {
        display: flex;
  
      }
      .mail-img, .tel, .contact, .email, .linkedin {
        flex: 1;
        flex-wrap: wrap;
        margin: 10px; /* Ändere dies nach Bedarf für den Abstand zwischen den Elementen */
        text-align:center;
    }
      
 
    /*@media*/
    /*smaller dives*/

    @media (min-width: 800px) { 
    .headliner{
        font-size: 1.2rem;
        }  
    }
    @media (min-width: 1200px) { 
        .headliner{
            font-size: 1.3rem;
            }  
        }


    @media (max-width: 600px) {
        #containerbox{
            flex-direction: column;
            margin-right: 50px;
        }
        
        #txt-left{
        
            font-size: 0.8em;
            margin-right: 20%;
         }
         #txt-right{
     
            font-size: 1em;
            margin-right: 20%;
         }


        .img-container{
            flex:4;
            order:-1;
            margin: 1em;
            margin-top: 2rem;
            margin-bottom: 1rem;

        }


     

        .text-container-1{
            -webkit-text-stroke: 0.5px #2e2e2e;
            font-size: clamp(16px, 4vw, 36px);
        }
        
    

        .img1{
            height: 40%;
            
        }

        .layer1{
            transition: all 5s cubic-bezier(0.075, 0.81, 0.165, 1);
        }

    }